body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background: #333;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
}

main {
    background: #222;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    flex: 1;
}

textarea {
    background: #333;
    color: white;
    border: none;
    resize: none;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

textarea:focus {
    outline: none;
}

input {
    color: white;
    background: transparent;
    border: none;
    width: 100%;
    border-radius: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
}

input:focus {
    outline: none;
}

.secondary {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    pointer-events: none;
    animation: slide 1s;
}

@keyframes slide {
    to {
        translate: 0 0;
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

@keyframes slideDown {
    to {
        translate: 0 50vh;
        opacity: 0;
    }
}